In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("books.csv")

In [3]:
df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
4,12,13335037,13335037,13155899,210,62024035,9.780062e+12,Veronica Roth,2011.0,Divergent,...,1903563,2216814,101023,36315,82870,310297,673028,1114304,https://images.gr-assets.com/books/1328559506m...,https://images.gr-assets.com/books/1328559506s...

In [4]:
cols = df.columns
df[cols].isnull().sum()

book_id                        0
goodreads_book_id              0
best_book_id                   0
work_id                        0
books_count                    0
isbn                          52
isbn13                        44
authors                        0
original_publication_year      3
original_title                52
title                          0
language_code                109
average_rating                 0
ratings_count                  0
work_ratings_count             0
work_text_reviews_count        0
ratings_1                      0
ratings_2                      0
ratings_3                      0
ratings_4                      0
ratings_5                      0
image_url                      0
small_image_url                0
dtype: int64

In [5]:
#drop rows with null values
new_df = df.dropna()
new_df[cols].isnull().sum()

book_id                      0
goodreads_book_id            0
best_book_id                 0
work_id                      0
books_count                  0
isbn                         0
isbn13                       0
authors                      0
original_publication_year    0
original_title               0
title                        0
language_code                0
average_rating               0
ratings_count                0
work_ratings_count           0
work_text_reviews_count      0
ratings_1                    0
ratings_2                    0
ratings_3                    0
ratings_4                    0
ratings_5                    0
image_url                    0
small_image_url              0
dtype: int64

In [6]:
#remove duplicates
new_df = df.drop_duplicates()

In [7]:
#remove irrelevant columns
new_df = new_df.drop(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'original_title', 'language_code', 'work_ratings_count', 'work_text_reviews_count', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url', 'small_image_url'], axis = 1)

In [8]:
new_df.head()

,authors,original_publication_year,title,average_rating,ratings_count
0,Suzanne Collins,2008.0,"The Hunger Games (The Hunger Games, #1)",4.34,4780653
1,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Sorcerer's Stone (Harry P...,4.44,4602479
2,Stephenie Meyer,2005.0,"Twilight (Twilight, #1)",3.57,3866839
3,John Green,2012.0,The Fault in Our Stars,4.26,2346404
4,Veronica Roth,2011.0,"Divergent (Divergent, #1)",4.24,1903563

In [26]:
#select Harry Potter book series from the dataset
values = ['J.K. Rowling, Mary GrandPré', 'J.K. Rowling, Mary GrandPré, Rufus Beck']
hp = new_df[new_df['authors'].isin(values)]

In [27]:
print(hp)

                                    authors  original_publication_year  \
1               J.K. Rowling, Mary GrandPré                     1997.0
6   J.K. Rowling, Mary GrandPré, Rufus Beck                     1999.0
8               J.K. Rowling, Mary GrandPré                     2003.0
9               J.K. Rowling, Mary GrandPré                     1998.0
10              J.K. Rowling, Mary GrandPré                     2000.0
11              J.K. Rowling, Mary GrandPré                     2007.0
12              J.K. Rowling, Mary GrandPré                     2005.0

                                                title  average_rating  \
1   Harry Potter and the Sorcerer's Stone (Harry P...            4.44
6   Harry Potter and the Prisoner of Azkaban (Harr...            4.53
8   Harry Potter and the Order of the Phoenix (Har...            4.46
9   Harry Potter and the Chamber of Secrets (Harry...            4.37
10  Harry Potter and the Goblet of Fire (Harry Pot...            4.53
11  Harry Potter and the Deathly Hallows (Harry Po...            4.61
12  Harry Potter and the Half-Blood Prince (Harry ...            4.54

    ratings_count
1         4602479
6         1832823
8         1735368
9         1779331
10        1753043
11        1746574
12        1678823

In [28]:
#calculate average rating of Harry Potter books
hp.loc[:, 'average_rating'].mean()

4.497142857142857

In [29]:
#find most selling books within the Harry Potter series
hp['ratings_count'].max()

4602479